* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("bg-intro-desktop.png");
    font-size: 16px;
    font-family: 'Poppins';
}

main {
    display: flex;
    max-width: 1440px;
    min-width: 375px;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_1 {
    width: 30%;
    padding: 20px;
    margin: 10px;
    height: auto;
}

.con_21 {

    margin-bottom: 2em;
}

.con_22 {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

p a {
    font-size: medium;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
    background-color: purple;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

form input {
    padding: 10px;
    width: 100%;
    justify-content: center;
}

form {
    margin: 20px;
}

h1 {
    color: white;
    padding-bottom: 15px;
    font-weight: bolder;
}

p {
    color: white;
}
.ft{
    color: rgba(179, 183, 185, 0.842) 248, 255, 0.842);

}